<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><!-- Basic need --><title>비밀번호 확인 페이지</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#"><!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no"><!-- CSS files -->
    <link rel="stylesheet" href="../css/plugins.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="buster-light">
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-11 col-sm-12 col-xs-12">
                    <div class="form-style-1 user-pro" action="">
                        <form class="password" th:action="@{/member/check_pw}" method="post">
                            <input type="hidden" name="userId" th:value="${currentUserId}">
                            <h3 th:text="${currentUserId} + '님의 회원정보를 안전하게 보호하기 위해 비밀번호를 한번 더 확인해 주세요'"></h3>
                            <br>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 form-it"><label>비밀번호 확인</label>
                                    <input type="password" name="userPw" placeholder="*************** ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><input class="submit" type="submit" value="확인"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- footer section-->
<!--<footer class="ht-footer">-->
<!--    <div class="container">-->
<!--        <div class="flex-parent-ft">-->
<!--            <div class="flex-child-ft item1"><a href="index.html"><img class="logo" src="images/logo1.png" alt=""></a>-->
<!--                <p>5th Avenue st, manhattan<br> New York, NY 10001</p>-->
<!--                <p>Call us: <a href="#">(+01) 202 342 6789</a></p></div>-->
<!--            <div class="flex-child-ft item2"><h4>Resources</h4>-->
<!--                <ul>-->
<!--                    <li><a href="#">About</a></li>-->
<!--                    <li><a href="#">Blockbuster</a></li>-->
<!--                    <li><a href="#">Contact Us</a></li>-->
<!--                    <li><a href="#">Forums</a></li>-->
<!--                    <li><a href="#">Blog</a></li>-->
<!--                    <li><a href="#">Help Center</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="flex-child-ft item3"><h4>Legal</h4>-->
<!--                <ul>-->
<!--                    <li><a href="#">Terms of Use</a></li>-->
<!--                    <li><a href="#">Privacy Policy</a></li>-->
<!--                    <li><a href="#">Security</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="flex-child-ft item4"><h4>Account</h4>-->
<!--                <ul>-->
<!--                    <li><a href="#">My Account</a></li>-->
<!--                    <li><a href="#">Watchlist</a></li>-->
<!--                    <li><a href="#">Collections</a></li>-->
<!--                    <li><a href="#">User Guide</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="flex-child-ft item5"><h4>Newsletter</h4>-->
<!--                <p>Subscribe to our newsletter system now <br>to get latest news from us.</p>-->
<!--                <form action="#"><input type="text" placeholder="Enter your email..."></form>-->
<!--                <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="ft-copyright">-->
<!--        <div class="ft-left"><p>© 2017 Blockbuster. All Rights <a href="http://www.bootstrapmb.com/"-->
<!--                                                                  title="bootstrapmb">Reserved</a>. Designed by leehari.-->
<!--        </p></div>-->
<!--        <div class="backtotop"><p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>&lt;!&ndash; end of footer section&ndash;&gt;-->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>
</html>